In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import pickle
from pandas_profiling import ProfileReport
import numpy as np

In [9]:
data = pd.read_csv("player.csv")

In [10]:
data

,Unnamed: 0,Unnamed: 0_level_0,Regular Season,Regular Season.1,Regular Season.2
0,NaN,Team,W,L,W/L%
1,0.0,LDLC ASVEL,26,8,0.765
2,1.0,AS Monaco Basket,25,9,0.735
3,2.0,Metropolitans 92,24,10,0.706
4,3.0,JDA Dijon,20,14,0.588
5,4.0,Limoges CSP,20,14,0.588
6,5.0,SIG Strasbourg,19,15,0.559
7,6.0,Élan Béarnais Pau-Lacq-Orthez,19,15,0.559
8,7.0,Cholet Basket,18,16,0.529
9,8.0,Nanterre 92,17,17,0.5
10,9.0,Le Mans Sarthe Basket,17,17,0.5
11,10.0,JL Bourg,15,19,0.441
12,11.0,BCM Gravelines-Dunkerque,13,21,0.382
13,12.0,Chorale Roanne Basket,13,21,0.382
14,13.0,ESSM Le Portel,13,21,0.382
15,14.0,Paris Basketball,13,21,0.382
16,15.0,Orléans Loiret Basket,12,22,0.353
17,16.0,Fos Provence,12,22,0.353
18,17.0,Champagne Basket,10,24,0.294

In [11]:
data.head()

,Unnamed: 0,Unnamed: 0_level_0,Regular Season,Regular Season.1,Regular Season.2
0,NaN,Team,W,L,W/L%
1,0.0,LDLC ASVEL,26,8,0.765
2,1.0,AS Monaco Basket,25,9,0.735
3,2.0,Metropolitans 92,24,10,0.706
4,3.0,JDA Dijon,20,14,0.588

In [12]:
data.tail()

,Unnamed: 0,Unnamed: 0_level_0,Regular Season,Regular Season.1,Regular Season.2
14,13.0,ESSM Le Portel,13,21,0.382
15,14.0,Paris Basketball,13,21,0.382
16,15.0,Orléans Loiret Basket,12,22,0.353
17,16.0,Fos Provence,12,22,0.353
18,17.0,Champagne Basket,10,24,0.294

In [13]:
data.describe()

       Unnamed: 0
count   18.000000
mean     8.500000
std      5.338539
min      0.000000
25%      4.250000
50%      8.500000
75%     12.750000
max     17.000000

In [15]:
pr = ProfileReport(data)

In [16]:
pr.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [17]:
pr.to_file('ProfileReport.html')

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [33]:
data = data.tail(15)

In [34]:
data

,Unnamed: 0,Unnamed: 0_level_0,Regular Season,Regular Season.1,Regular Season.2
14,13.0,ESSM Le Portel,13,21,0.382
15,14.0,Paris Basketball,13,21,0.382
16,15.0,Orléans Loiret Basket,12,22,0.353
17,16.0,Fos Provence,12,22,0.353
18,17.0,Champagne Basket,10,24,0.294

In [41]:
x = data[['Regular Season']]

In [42]:
y = data['Regular Season.1']

In [43]:
!pip install sklearn

Requirement already satisfied: sklearn in c:\users\kesdan02\anaconda3\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\kesdan02\anaconda3\lib\site-packages (from sklearn) (0.24.2)
Requirement already satisfied: numpy>=1.13.3 in c:\users\kesdan02\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.20.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\kesdan02\anaconda3\lib\site-packages (from scikit-learn->sklearn) (2.2.0)
Requirement already satisfied: scipy>=0.19.1 in c:\users\kesdan02\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.7.1)
Requirement already satisfied: joblib>=0.11 in c:\users\kesdan02\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.1.0)

In [44]:
from sklearn.linear_model import LinearRegression

In [45]:
linear = LinearRegression()

In [46]:
linear.fit(x,y)

LinearRegression()

In [47]:
linear.intercept_

34.00000000000001

In [48]:
linear.coef_

array([-1.])

In [49]:
file = 'linear_reg.sav'
pickle.dump(linear, open(file, 'wb'))

In [50]:
linear.predict([[45]])

array([-11.])

In [53]:
l = [40,15,6,17,8]

In [54]:
for i in l:
    print(linear.predict([[i]]))

[-6.]
[19.]
[28.]
[17.]
[26.]

In [55]:
saved_model = pickle.load(open(file,'rb'))

In [56]:
saved_model.predict([[20]])

array([14.])

In [57]:
linear.score(x,y)

1.0

In [ ]:
https://archive.ics.uci.edu/ml/datasets/AI4I+2020+Predictive+Maintenance+Dataset

In [ ]:
load data--profiling data--write your analysisof data--NAN, imputation--Not normal--handle it--check multicollinearity--build  model--saveit--model accuracy--10 test case